body {
    background-color: #eee4e1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li a {
  float: right;
  display: block;
  color: black;
  font-family: helvetica;
  font-style: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

h1 {
    font-family: courier;
    text-align: center;
    padding-top: 10%;
    color: #590004;
}

h2 {
   font-family: Helvetica;
    text-align: center;
    font-style: italic;
    color: #526760;
    padding-top: 10%;
}


p {
  font-family: helvetica;
  font-style: italic;
  text-align: center;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  margin: auto;
}

tr{
 font-family: helvetica;
  border-bottom: solid;
  background-color:#E7D8C9;
}

#titles{
  font-family: helvetica;
  border-bottom: solid;
  background-color: #C47E62;
  
}
img {
  display: block;
  padding: 25;
  margin: auto;
}

th, td {
  border: 1px solid;
  line-height: 1.5;
}

form {
  font-family:helvetica;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-family: courier;
  background: #584b40;
  color: #E7D8C9;
}